# Working With Time Series Lesson

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# url
url = "https://gist.githubusercontent.com/ryanorsinger/b309f8db19e0ca71b213d4877d835e77/raw/f5841017310e2f4ca070b313529ceec2375336ba/coffee_consumption.csv"

# imporiting url
df = pd.read_csv(url)

# printing df types
print(df.info())

df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date                261 non-null    object
 1   coffee_consumption  261 non-null    float64
dtypes: float64(1), object(1)
memory usage: 4.2+ KB
None

         date  coffee_consumption
0  2019-01-01           14.301915
1  2019-01-02           12.905900
2  2019-01-03           10.046015
3  2019-01-04            6.354805
4  2019-01-07            8.545563

## pd.to_datetime

    Converts a datatype to datetime.